{% extends "layout.twig" %}
{% block title %} Nemorastur {% endblock %}
{% block body %}
    <h2>Añadir parte</h2>
    <form class="form-horizontal" method="post" action="/users/add">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Título:</label>
            <div class="col-sm-10">
                <input id="title" type="text" class="form-control" name="title"
                       placeholder="Parte realizado el 6 de junio" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="date">Fecha:</label>
            <div class="col-sm-10">
                <input id="birthdate" type="date" class="form-control" name="date"
                       placeholder="DD/MM/AAAA" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="client">Cliente:</label>
            <div class="col-sm-10">
                <input id="detail" type="text" class="form-control" name="client"
                       placeholder="Fernando Suárez" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lug">Ubicación (no editar):</label>
            <div class="col-sm-10">
                <input id="lug" type="text" class="form-control" name="lug"
                       placeholder="" required="true" readonly/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dateS">Hora de comienzo:</label>
            <div class="col-sm-10">
                <input id="price" type="time" class="form-control" name="dateS"
                       placeholder="09:34" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="dateF">Hora de final:</label>
            <div class="col-sm-10">
                <input id="price" type="time" class="form-control" name="dateF"
                       placeholder="09:56" required="true" />
            </div>
        </div>
        <h4>* Seleccione una única opción:</h4>
        <div class="form-group">
            <label class="control-label col-sm-2" for="highlight">Obra nueva</label>
            <div class="col-sm-10">
                <input id="highlight" type="radio" required="true" class="form-control" name="highlight"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="highlight">Mantenimiento</label>
            <div class="col-sm-10">
                <input id="highlight" type="radio" required="true" class="form-control" name="highlight"/>
            </div>
        </div>
        <h4>* Seleccione las tareas realizadas (si no aparece su tarea debajo, añádela por favor en observaciones):</h4>
        <div class="form-group">
            <input id="task" type="checkbox" class="form-control" name="task1"> Segar el césped y desorillar<br>
            <input id="task" type="checkbox" class="form-control" name="task2"> Limpieza y barrido de viales<br>
            <input id="task" type="checkbox" class="form-control" name="task3"> Mantenimiento de terrarios<br>
            <input id="task" type="checkbox" class="form-control" name="task4"> Poda de árboles y arbustos<br>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="material">Material empleado:</label>
            <div class="col-sm-10">
                <input id="detail" type="text" class="form-control" name="material"
                       placeholder="Material 1, material 2..." required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="cash">Presupuesto (aproximado):</label>
            <div class="col-sm-10">
                <input id="detail" type="number" class="form-control" name="cash"
                       placeholder="120€" required="true" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="observations">Observaciones:</label>
            <div class="col-sm-10">
                <input id="detail" type="text" class="form-control" name="observations"
                       placeholder="Introduza las observaciones oportunas..." required="true" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Añadir</button>
            </div>
        </div>
    </form>

    <script>
        navigator.geolocation.watchPosition(async function (position) {
            const { latitude, longitude } = position.coords;
            await fetch("https://geocode.maps.co/reverse?lat=" + Number(latitude) + "&lon=" + Number(longitude)).then(lugar => {
                return lugar.json();}).then(p => $("#lug")
                .val(p.address.town + ", " + p.address.city + ", " + p.address.state))
        });
    </script>
{% endblock %}