{% extends 'layout.twig' %}

{% block body %}
    <h1><a href="https://nemorastur.com/">{{title}}</a></h1>
    <p>Welcome to {{title}}</p>
    <p>El Llagar de Piñeres s/n</p>
    <p>33685 Aller - B74225475</p>
    <p>985498105 - 687947148</p>
    <h4>Nº R.O.P.O: 03/33/062/ST</h4>
{% endblock %}
